<!doctype html>
<html lang="cs"> <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/site.webmanifest" />
		
		<meta name="generator" content={Astro.generator} />
		<title>Můj Fotografický Zápisník</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global> /* Klíčové slovo is:global zajistí, že styly platí pro celý web */
	:root {
		--bg-color: #000000;
		--text-color: #d1d1d1;
		--accent-color: #ffffff;
	}

	html,
	body {
		margin: 0;
		padding: 0;
		width: 100%;
		min-height: 100%;
		background-color: var(--bg-color);
		color: var(--text-color);
		font-family: 'Inter', system-ui, sans-serif;
	}

	main {
		max-width: 800px; /* Aby text nebyl přes celou šířku monitoru, blbě se to čte */
		margin: 0 auto;
		padding: 2rem 1rem;
	}

	/* Základní oprava pro obrázky a mapy, aby nepřetékaly */
	img, iframe {
		max-width: 100%;
		height: auto;
		border-radius: 8px;
	}

	a {
		color: var(--accent-color);
		text-decoration: underline;
	}
</style>